services:
  backend:
    build:
      context: .
    ports:
      - 3000:3000
      - 5173:5173
    volumes:
      - ..:/app
    working_dir: /app
    command: sleep infinity
    stop_grace_period: 2s
  